* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background: #0E0E10;
    overflow-x: hidden;
}

a:link {
    text-decoration: none;
}

.landing {
    color: #FEEF3C !important;
}

.about {
    color: #FEEF3C !important;
}

.nav-link:hover {
    color: #FEEF3C !important;
}

.btn-warning {
    background-color: #FEEF3C !important;
    padding: 10px 40px;
    border-radius: 10px;
}

.star {
    margin-bottom: 90px !important;
}

.text-warning {
    color: rgb(254, 239, 60) !important;
}

.hero-img {
    width: 100%;
}

.img-wrapper img:not(:hover) {
    transition: all ease-in-out 0.3s;
    filter: grayscale(100%);
}

.img-position {
    width: 100%;
}

.swiper {
    width: 100%;
}

.swiper-slide img {
    width: 100%;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 1px solid #FEEF3C;
    background-color: #0E0E10;
}

.swiper-pagination-bullet-active {
    background-color: #FEEF3C !important;
}

.team-info {
    height: 420px;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.01);
    z-index: 1;
    bottom: -150px;
    transform: translateY(140px);
    transition: all ease-in-out 1s;
}

.team-bg-img:hover .team-info {
    transform: translate(0);
}

/* about */
.brand-icon {
    animation: glow 1.5s linear infinite;
    color: #0E0E10;
}

@keyframes glow {
    50% {
        opacity: 20%;
    }
}

.about-pic {
    width: 100%;
}

/* contant */

.contact-pic {
    width: 100%;
}

.contact-link {
    color: #FEEF3C !important;
}